{{!-- <div class="w-64 h-screen bg-gray-50 text-black p-4 relative flex min-w-0 flex-col">
    <ul class="flex flex-col gap-1 w-full">
        <li>
            <button class="flex items-center gap-3 w-full px-3 py-2 rounded-md text-sm hover:bg-gray-200">
    
            <!-- icon -->
            <img class="w-4 h-4 shrink-0" src="/images/placeholder.jpg"></svg>

            <!-- text -->
            <span class="truncate">Dashboard</span>

        </button>    
        </li>
    </ul>
</div>
old style
 --}}

<nav class="bg-white shadow-md">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex justify-between h-16 items-center">
            <div class="flex space-x-4">
                <a href="/home" class="{{isActive 'home' activePage}} px-3 py-1 hover:bg-gray-100 rounded-lg transition">Home</a>
                <a href="/items" class="{{isActive 'items' activePage}} p-3 py-1 hover:bg-gray-100 rounded-lg  transition">Items</a>

                {{!-- ADD IF CONDITION TO CHECK FOR THIS + KEY TO CHECK IF PAGE IS ALLOWED  --}}
                <a href="/users" class="{{isActive 'users' activePage}} p-3 py-1 hover:bg-gray-100 rounded-lg transition">Users</a>
            </div>
            <div>
                <a href="/logout" 
                class="px-4 py-2 border-2 border-red-500 text-red-500 rounded-lg font-semibold hover:bg-red-500 hover:text-white transition">
                Logout
                </a>
            </div>
        </div>
    </div>
</nav>