
PORT= PORT_NUMBER

DOMAIN= DOMAIN_NAME

BASE_URL= THE_URL_FOR_PRODUCTION

NODE_ENV= NODE_ENVIRONMENT (development or production)

DB_TYPE= DB_TYPE (mongodb or supabase)

MONGO_URI= MONGODB_URI

SUPABASE_URL= SUPABASE_URL

SUPABASE_SERVICE_ROLE_KEY= SUPABASE_SERVICE_ROLE_KEY

JWT_SECRET= JWT_SECRET

SESSION_SECRET= SESSION_SECRET