<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group 6 Final Project</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    {{!-- NOTE: ADD ADDITIONAL FONT STYLING LATER --}}
</head>
<body class="bg-gray-100">

  <!-- NAVBAR-->
  {{>navbar}}

  <!-- MAIN CONTENT -->
  <div class="mt-6">
    {{{body}}}
  </div>

</body>
</html>