<main class="flex flex-col justify-center items-center gap-y-5 p-6">
    <h1 class="text-3xl font-bold justify-self-center self-start">Items</h1>
    <section class="grid grid-cols-2 w-full">
        <nav class="w-full">
            <h2 class="text-xl font-semibold">Categories</h2>
            <ul class="justify-self-start self-center">
                {{#each categories}}
                    <li class="p-1">
                        <a href="/items?cat={{this.name}}"
                            class="p-1 hover:bg-gray-500 hover:text-white transition-all duration-300 ease-in-out"
                        >
                            {{this.name}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </nav>

        {{!-- NOTE: PLEASE MAKE THIS CHECK FOR ROLES --}}
        <form method="GET" action="/items" 
            class="flex flex-row gap-2 justify-end items-center w-full"
        >
            <input type="text" name="q" id="q" class="w-1/2 border-gray-500 border p-2 rounded-lg" placeholder="search...">
            <button class="cursor-pointer bg-green-500 hover:bg-green-700 text-white p-2 rounded-lg transition-all duration-300 ease-in-out">Search</button>
        </form>
    </section>

    <section class="grid grid-cols-1 lg:grid-cols-[40%_1fr] gap-10 w-full">
        {{> itemForm}}
        
        {{!-- item grid --}}
        <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 w-full">
            {{#each items}}
                {{> itemCard}}
            {{/each}}
        </section>
    </section>

    <script>
        function openForm(id) {
            document.getElementById("modal").classList.remove("hidden");

            document.getElementById("file_item").value = id;
        }

        function closeForm() {
            document.getElementById("modal").classList.add("hidden");
        }
    </script>
</main>

