<div class="flex flex-col gap-6 px-8 py-6">
    {{!-- TOAST BANNER --}}
    <div class="fixed top-20 left-1/2 -translate-x-1/2 w-full max-w-md z-50">
        {{> toast}}
    </div>
    
    {{!-- Title --}}
    <div class="grid grid-cols-1 sm:grid-cols-2">
        <div>
            <h1 class="text-3xl font-bold text-gray-800">Items</h1>
            <p class="text-gray-500 mt-1">All items in the system</p>
        </div>
        <form method="GET" action="/items"
            class="h-20 flex gap-2 justify-end items-center bg-white p-4 rounded-lg shadow-sm">

            <input
                type="text"
                name="q"
                id="q"
                placeholder="Search items..."
                class="w-full border border-gray-300 p-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400"
            >
            <button
                class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded-lg transition"
                type="submit"
            >
                Search
            </button>

            <button onClick="showAddItem()"
            class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg transition-all"
            id="addItemBtn"
            type="button"
            >
            Create
            </button>

            <button onClick="hideAddItem()"
            class="hidden cursor-pointer bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg transition-all"
            id="hideAddItemBtn"
            type="button"
            >
            Hide
            </button>
        </form>
    </div>

    <section class="grid grid-cols-1 lg:grid-cols-[15%_1fr] gap-8 w-full">
        <section class="h-full w-full">
            <nav class="bg-white p-4 rounded-lg shadow-sm h-full">
                <div class="text-lg font-semibold mb-2"
                    href="/items"
                >Categories</div>

                <ul class="space-y-1">
                    
                    <li>
                        <a class="block px-2 py-1 rounded hover:bg-gray-500 hover:text-white ease-in-out transition"
                            href="/items"
                        >All</a>
                    </li>
                    
                    {{#each categories}}
                    <li>
                        <a href="/items?cat={{this.name}}"
                        class="block px-2 py-1 rounded hover:bg-gray-500 hover:text-white ease-in-out transition">
                        {{this.name}}
                        </a>
                    </li>
                    {{/each}}
                    <li>
                        <button
                        class="text-left w-full cursor-pointer block px-2 py-1 rounded hover:bg-gray-500 hover:text-white ease-in-out transition"
                        onclick="openSubcategory()"
                        >
                        Subcategories
                        </button>
                    </li>

                    
                    <li>
                        <a href="/items?isRetired=true"
                        class="block px-2 py-1 rounded hover:bg-gray-500 hover:text-white ease-in-out transition"
                        >
                        Retired
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
        
        <section id="addItem" class="hidden">
            {{> itemForm}}
        </section>
        
        {{!-- item grid --}}
        {{#if items}}
            <section class="col-start-1 lg:col-start-2 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 w-full items-start min-w-0"
                id="items"
            >
                {{#each items}}
                    {{> itemCard user=user}}
                {{/each}}

                <div
                    class="w-full col-span-full"
                >
                    {{> itemPaginator}}
                </div>
            </section>
        {{else}}
            <section class="w-full flex flex-col justify-center items-center gap-y-5">
                <h1 class="text-3xl font-bold">No Items Found</h1>
                <p class="text-gray-500">Try searching for something else or adding a new item.</p>
            </section>
        {{/if}}
    </section>

    {{!-- HIDDEN FORM PAGE --}}
    <div id="subcategoryModal" class="fixed inset-0 bg-black/65 flex items-center justify-center hidden z-50" onclick="closeSubcategory()">
        {{!-- make closeform only work for background --}}
        <div onclick="event.stopPropagation()">     
            {{> subCategoryModal title="Subcategories"}}
        </div>
    </div>

    <script>
        function showAddItem() {
            document.getElementById("addItem").classList.remove("hidden");
            document.getElementById("hideAddItemBtn").classList.remove("hidden");
            document.getElementById("addItemBtn").classList.add("hidden");
            document.getElementById("items").classList.add("lg:col-span-2");
            document.getElementById("items").classList.remove("lg:col-start-2");
        }

        function hideAddItem() {
            document.getElementById("addItem").classList.add("hidden");
            document.getElementById("hideAddItemBtn").classList.add("hidden");
            document.getElementById("addItemBtn").classList.remove("hidden");
            document.getElementById("items").classList.remove("lg:col-span-2");
            document.getElementById("items").classList.add("lg:col-start-2");
        }

        function openSubcategory() {
            document.getElementById("subcategoryModal").classList.remove("hidden");
        }

        function closeSubcategory() {
            document.getElementById("subcategoryModal").classList.add("hidden");
        }

        function openForm(id) {
            document.getElementById("modal").classList.remove("hidden");

            document.getElementById("file_item").value = id;
        }

        function closeForm() {
            document.getElementById("modal").classList.add("hidden");
        }

        function openadminForm(id) {
            document.getElementById("adminmodal").classList.remove("hidden");

            document.getElementById("file_item_admin").value = id;
        }

        function closeadminForm() {
            document.getElementById("adminmodal").classList.add("hidden");
        }
        
        function setDuration(hours) {
            document.getElementById("duration").value = hours;
        }

        function setadminDuration(hours) {
            document.getElementById("adminduration").value = hours;
        }
    </script>
</div>


{{!-- HIDDEN FORM PAGE --}}
<div id="modal" class="fixed inset-0 bg-black/65 flex items-center justify-center hidden z-50" onclick="closeForm()">
    {{!-- make closeform only work for background --}}
    <div class="w-full max-w-lg" onclick="event.stopPropagation()">     
        {{> form title="Check-out" action="checkout"}}
    </div>
</div>

<div id="adminmodal" class="fixed inset-0 bg-black/65 flex items-center justify-center hidden z-50" onclick="closeadminForm()">
    {{!-- make closeform only work for background --}}
    <div class="w-full max-w-lg" onclick="event.stopPropagation()">     
        {{> adminForm title="Check-out" action="adminCheckout"}}
    </div>
</div>